*.jhd
*.schlog
*.cmd_log
*.vf
*.LSO
*.BGN
*.BLD
*.DRC
*.NCD
*.NGC
*.NGD
*.PAD
*.PAR
*.PCF
*.PRJ
*.PTWX
*.stx
*.syr
*.twr
*.twx
*.uniroutes
*.ut
*.xpi
*.xst
*.xwbt
*.map
*.mrp
*.ngm
*.xrpt
*.csv
*.txt
*.xml
*.html